<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-capitalize">News Exchange Archive</ion-title>
      <ion-buttons slot="end">
        <a href="https://developer.nytimes.com" target="_blank"><img src="../../../assets/img/poweredby_nytimes_200c.png" alt=""/></a>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrationForm" (ngSubmit)="regUser()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label>First Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" formControlName="firstName" ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Last Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" formControlName="lastName" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" formControlName="email" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password" formControlName="password" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Preferred Base Currency </ion-label>
        <ion-select formControlName="baseCurrency" required interface="popover">
          <ion-select-option value="AUD">AUD: Australian Dollar</ion-select-option>
          <ion-select-option value="CAD">CAD: Canadian Dollar</ion-select-option>
          <ion-select-option value="EUR">EUR: Euro</ion-select-option>
          <ion-select-option value="GBP">GBP: British Sterling</ion-select-option>    
          <ion-select-option value="INR">INR: Indian Rupee</ion-select-option>   
          <ion-select-option value="RUB">RBN: Russian Rouble</ion-select-option>
          <ion-select-option value="SEK">SEK: Swedish Krone</ion-select-option>         
          <ion-select-option value="USD">USD: US Dollar</ion-select-option>         
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Preferred Target Currency </ion-label>
        <ion-select formControlName="targetCurrency" required interface="popover">
          <ion-select-option value="AUD">AUD: Australian Dollar</ion-select-option>
          <ion-select-option value="CAD">CAD: Canadian Dollar</ion-select-option>
          <ion-select-option value="EUR">EUR: Euro</ion-select-option>
          <ion-select-option value="GBP">GBP: British Sterling</ion-select-option>    
          <ion-select-option value="INR">INR: Indian Rupee</ion-select-option>   
          <ion-select-option value="RUB">RBN: Russian Rouble</ion-select-option>
          <ion-select-option value="SEK">SEK: Swedish Krone</ion-select-option>         
          <ion-select-option value="USD">USD: US Dollar</ion-select-option>         
        </ion-select>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button color="dark" expand="block" type="submit" class="ion-no-margin" [disabled]="!registrationForm.valid">Create account</ion-button>
    </div>
  </form>
</ion-content>
