<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">News Exchange Archive</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
        <a href="https://developer.nytimes.com" target="_blank"><img src="../../../assets/img/poweredby_nytimes_200c.png" alt=""/></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>
        value of 1.00 {{this.exchangeSummary.base}} as measured against US Dollar
        (between {{ this.exchangeSummary.start_at}} and {{ this.exchangeSummary.end_at}})
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas height=95 #barChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>