<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">News Exchange Archive</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
        <a href="https://developer.nytimes.com" target="_blank"><img src="../../../../../assets/img/poweredby_nytimes_200c.png" alt=""/></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="articles.length > 0" size-md="12" size-lg="8">
        <ion-card *ngFor="let item of articles">
          <ion-card-header>
            <ion-card-title color="dark" class="ion-text-capitalize">
              <div (click)="setExchangeQuery(item.pub_date)">
                {{item?.pub_date | date:'fullDate':'+0000'}}
                <div style="text-align: right;">
                  <ion-icon name="stats-chart-outline"></ion-icon>
                </div>                
              </div>
            </ion-card-title>
            <ion-card-subtitle>
              {{item?.news_desk}} / {{item?.section_name}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{item?.lead_paragraph}}
            <a href="{{item?.web_url}}" target="_blank" rel="noopener noreferrer"> read full article</a>
          </ion-card-content>
        </ion-card>
        <ion-text *ngIf="articles.length <= 0">
          <p><i>no posts to display</i></p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-infinite-scroll threshold="200px" (ionInfinite)="updateNews($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>

