<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">News Exchange Archive</ion-title>
    <ion-icon name="newspaper-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="articles.length > 0" size-md="12" size-lg="8">
        <ion-card *ngFor="let item of articles">
          <ion-card-header>
            <ion-card-title color="primary" class="ion-text-capitalize">
              <div (click)="setExchangeQuery(item.pub_date)">
                {{item?.pub_date | date:'fullDate':'+0000'}}
              </div>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{item?.lead_paragraph}}
            <a href="{{item?.web_url}}" target="_blank" rel="noopener noreferrer"> read full article</a>
          </ion-card-content>
        </ion-card>
        <ion-text *ngIf="articles.length <= 0">
          <p><i>no posts to display</i></p>
        </ion-text>
      </ion-col>

      <ion-col class="ion-hide-lg-down" size="12" size-lg="4">
        <ion-text>
          <p>
            <b>Bienvenu sur mon super Blog</b>
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores blanditiis excepturi eius recusandae accusantium deserunt iste labore. Corrupti ipsum ad similique. Harum quia nesciunt itaque officiis debitis reprehenderit facere fugiat?</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

