    <ion-header>
      <ion-toolbar color="primary">
        <ion-title class="ion-text-capitalize">News Exchange Archive</ion-title>
          <ion-buttons slot="end">
          </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          
          <ion-item>
            <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" formControlName="email" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="password" formControlName="password" ></ion-input>
          </ion-item>

        </ion-list>

        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="!loginForm.valid">Login</ion-button>
        </div>
      </form>
    </ion-content>
