    <ion-header>
      <ion-toolbar color="dark">
        <ion-title class="ion-text-capitalize">News Exchange Archive</ion-title>
          <ion-buttons slot="end">
            <a href="https://developer.nytimes.com" target="_blank"><img src="../../../assets/img/poweredby_nytimes_200c.png" alt=""/></a>
          </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center ion-align-self-center">

      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">        
          
          <ion-item>
            <ion-label>Email <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" formControlName="email" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="password" formControlName="password" ></ion-input>
          </ion-item>

          <ion-button type="submit" color="dark" fill="outline" size="large" class="ion-padding"  [disabled]="!loginForm.valid">
            <ion-icon name="log-in-outline"></ion-icon>
          </ion-button>

      </form>

    </ion-col>
  </ion-row>     
</ion-grid>

    </ion-content>
