<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
      </ion-buttons>
      <ion-title class="ion-text-capitalize">News Exchange Archive</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>    
         <a href="https://developer.nytimes.com" target="_blank"><img src="../../../assets/img/poweredby_nytimes_200c.png" alt=""/></a>   
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center ion-align-self-center">

                <ion-item>
                    <ion-label></ion-label>
                    <ion-input [(ngModel)]="searchString" value="1990-02-19" type="search" placeholder="type your search terms here ......."></ion-input>
                </ion-item>
        
                <ion-item>
                    <ion-datetime [(ngModel)]="startDatePicker" placeholder="Start Date" min="2000-01-01"></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-datetime [(ngModel)]="endDatePicker" placeholder="End Date"></ion-datetime>
                </ion-item>

                <ion-button  color="dark" fill="outline" size="large" class="ion-padding" (click)="searchNews(true)">
                    <ion-icon name="home-outline"></ion-icon>
                </ion-button>

                <ion-button  color="dark" fill="outline" size="large" class="ion-padding" (click)="searchNews(false)">
                    <ion-icon name="earth-outline"></ion-icon>
                </ion-button>

            </ion-col>
        </ion-row>     
    </ion-grid>
</ion-content>